<div class="nav_logo animated fadeIn">
  <div class="container">
    <div class="row">
      <nav class="col-md-12">
        <ul class="sf-menu" id="menu">
          <li>
            <%= link_to "DOWNLOADS", "/download.html" %>
          </li>
          <li>
            <a href="#v3">WHAT IS ORIGIN?</a>
          </li>
          <li>
            <a href="#contribute">CONTRIBUTE</a>
          </li>
          <li>
            <a href="https://commons.openshift.org/">OPENSHIFT COMMONS</a>
          </li>
          <li>
            <a href="https://docs.openshift.org/">DOCUMENTATION</a>
          </li>
          <li>
            <!-- Place this tag where you want the button to render. -->
            <a aria-label="Star openshift/origin on GitHub" data-count-aria-label="# stargazers on GitHub" data-count-api="/repos/openshift/origin#stargazers_count" data-count-href="/openshift/origin/stargazers" data-style="mega" data-icon="octicon-star" href="https://github.com/openshift/origin" class="github-button">Star</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>