<div class="nav_logo animated fadeIn">
  <div class="container">
    <div class="row">
      <nav class="col-md-12">
        <ul class="sf-menu" id="menu">
          <li>
            <a href="/#v4"><nobr>WHAT IS OKD?</nobr></a>
          </li>
          <li>
            <a href="https://github.com/openshift/okd/">INSTALLATION</a>
          </li>      
          <li>
            <a href="https://docs.okd.io/">DOCUMENTATION</a>
          </li>
          <li>
            <a href="/#community">COMMUNITY</a>
          </li>                   
          <li>
            <%= link_to "RECIPES", "/recipes.html" %>
          </li>
          <li>
            <a href="https://github.com/openshift/okd/blob/master/FAQ.md">FAQ</a>
          </li>
          <li>
            <!-- Place this tag where you want the button to render. -->
            <a href="https://github.com/openshift/okd"><img border="0" alt="GitHub" src="/img/Octocat.png" width="40vh" height="40vw" style="position:relative;top:-6px;"></a>
          </li>
          <li>
            <!-- Place this tag where you want the button to render. -->
            <a href="https://kubernetes.slack.com/messages/openshift-dev"><img border="0" alt="Slack" src="/img/slack.png" width="40vh" height="40vw" style="position:relative;top:-6px;"></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
