<div class="nav_logo animated fadeIn">
  <div class="container">
    <div class="row">
      <nav class="col-md-12">
        <ul class="sf-menu" id="menu">
          <li>
            <a href="#try">TRY OPENSHIFT</a>
          </li>
          <li>
            <a href="#v3">THE NEW ORIGIN</a>
          </li>
          <li>
            <a href="#contribute">CONTRIBUTE</a>
          </li>
          <li>
            <a href="http://docs.openshift.org/">DOCUMENTATION</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>