---
title: Running OpenShift Origin in a Virtual Machine
---

<% content_for :header do %>
<h1 class="animated fadeInDown delay">
  Minishift (Beta)
</h1>
<p class="animated fadeInUp delay">Get Origin Up and Running From the Comfort of Your Own Laptop</p>
<% end %>

<% content_for :navbar do %>
<div class="nav_logo animated fadeIn">
  <div class="container">
    <div class="row">
      <nav class="col-md-12">
        <ul class="sf-menu" id="menu">
          <li>
            <a href="#about">ABOUT</a>
          </li>
          <li>
            <a href="https://github.com/minishift/minishift/releases" target="_blank">DOWNLOADS</a>
          </li>
          <li>
            <a href="https://github.com/minishift/minishift/blob/master/README.md#community" target="_blank">FEEDBACK</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<% end %>

<section class="container" id="about">
  <div class="info_title info_vertical">
    <div class="row wow info_vertical animated fadeInDown">
      <div class="col-md-12 text-left">
        <p>
          Welcome to the instructions for running
          <a href="https://github.com/openshift/origin" target="_blank">OpenShift Origin</a>
          , the FOSS PaaS from Red Hat, in a local VM on your machine. On this page you will find instructions on how to use <a href="https://github.com/minishift/minishift/blob/master/README.md" target="_blank">Minishift</a> for local application development with OpenShift.
        </p>
        <p>
          This image is based off of OpenShift Origin and is a fully functioning OpenShift instance with an integrated Docker registry. The intent of this project is to allow Web developers and other interested parties to run OpenShift V3 on their own computer.
          Given the way it is configured, the VM will appear to your local machine as if it was running somewhere off the machine.
        </p>
        <p><strong>Install instructions</strong><br/></p>
        <p>Please follow <a href="https://github.com/minishift/minishift/blob/master/README.md#installation" target="_blank">the instructions</a> for installing Minishift. Be aware that Minishift is currently in <strong>Beta</strong> and will be changing rapidly. The Minishift maintainers also appreciate GitHub Issues when you find problems.</p>
        <p>We, the OpenShift Evangelists, also have some suggestions that we have found helpful:
          <ul>
            <li>When you start Minishift for the first time, a configuration file for the VM is placed in a .minishift directory in your home directory. This configuration will be used to create characteristics of the VM, such as memory or CPUs, that lasts until you do <pre>minishift delete</pre>
            We recommend the first time you run Minishift, you pass in the memory and CPUs you want to give to the VM. For example<br>
            <pre>minishift start --memory 12048 --cpus 3</pre>
            starts a VM with ~12 gigs of RAM and 3 vCPUs. The full list of flags are <a href="https://github.com/minishift/minishift/blob/master/docs/minishift_start.md" target="_blank">described here</a></li>
            <li>For Windows Users there are still some rough spots:
              <ol>
                <li>Hyper-V, the default on Windows, will not work if other virtualization technology is installed. If you want to use VirtualBox your command would look like:<br/>
                  <pre>minishift.exe start --vm-driver virtualbox</pre>
                </li>
                <li>
                  If you have already installed Docker Engine, Minishift will grab the VirtualSwitch for Docker Engine as it's network interface. This may or may not work for network access. If it does not work then you will not be able to complete the Minishift installation. To correct this:
                  <ol>
                    <li>execute <pre>minishift stop</pre></li>
                    <li>make a new External VirtualSwitch in the Hyper-V console and assign it to the Minishift VM</li>
                    <li>execute <pre>minishift start</pre></li>
                  </ol>
                </li>
                <li>
                  When you run Minishift from PowerShell, you may need to add your user to the Hyper-V Admin Group or you will have to run PowerShell as an administrator. <a href="https://blogs.msdn.microsoft.com/virtual_pc_guy/2016/05/30/adding-yourself-to-the-hyper-v-administrators-group-with-powershell/" target="_blank">Here are instructions</a> on how to add your account to the Hyper-V administrator group from the command line. Follow these steps to do it from the GUI:
                  <ul>
                    <li>Windows key and then Computer Management </li>
                    <li>Local Users And Groups -> Groups</li>
                    <li>Double click on the Hyper-V admin group</li>
                    <li>Add your account to that group.</li>
                    <li>You have to log out and log in before the changes will take affect.
                    </li>
                  </ul>
                </li>
              </ol>
            </li>
          </ul>
        </p>
        <p>The old Vagrant based all in one has been retired and is no longer supported. Due to instability in
          Vagrant builds it became impossible to maintain and troubleshoot the all in one. The old versions are still <a href="https://atlas.hashicorp.com/openshift/boxes/origin-all-in-one" target="_blank">on Atlas</a>, with instructions <a href="https://www.openshift.org/vm/instructions1_4.html" target="_blank">here</a>, but are not supported. </p>
          <p><strong>Intended Use</strong> </p>
          <p>This VM is intended for local development on top of OpenShift. It is not intended to be used in production. There is no official support for this image, support is community based and best effort (but we care a lot about you and your happiness).
          <br/>
          If you need a supported VM version running on Red Hat Enterprise Linux with OpenShift Container Platform, please use the <a href="https://developers.redhat.com/products/cdk/overview/" target="_blank">Container Development Kit (CDK)</a>.
          </p>
          <p>
            <strong>WARNING:</strong> To allow developers to use any Docker image they want, turning off some security in OpenShift is required. By default, OpenShift will not allow a container to run as root or even a non-random container assigned userid.
            Most Docker images in the Dockerhub do not follow this best practice and instead run as root. As a double negative, a large majority of Dockerhub images are not patched for well known vulnerabilities. Therefore, please use images from Dockerhub with caution. We think some of the risk is mitigated because you are running OpenShift in a VM, but still - be careful which Docker images you run.
          </p>
        </div>
      </div>
    </div>
  </section>
