---
title: All-In-One Virtual Machine for OpenShift Origin
---

<% content_for :header do %>
<h1 class="animated fadeInDown delay">
  All-In-One Virtual Machine (Version 1.1.4)
</h1>
<p class="animated fadeInUp delay">Get Origin Up and Running From the Comfort of Your Own Laptop</p>
<% end %>

<% content_for :navbar do %>
<div class="nav_logo animated fadeIn">
  <div class="container">
    <div class="row">
      <nav class="col-md-12">
        <ul class="sf-menu" id="menu">
          <li>
            <a href="#about">ABOUT</a>
          </li>
          <li>
            <a href="#downloads">DOWNLOADS</a>
          </li>
          <li>
            <a href="#feedback">FEEDBACK</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<% end %>

<section class="container" id="about">
  <div class="info_title info_vertical">
    <div class="row wow info_vertical animated fadeInDown">
      <div class="col-md-12 text-left">
        <p>
          Welcome to the all-in-one VM for
          <a href="https://github.com/openshift/origin">OpenShift Origin</a>
          , the FOSS PaaS from Red Hat. On this page you will find links to download:
        </p>
        <p>&nbsp;</p>
        <ul>
          <li>A Vagrant VirtualBox VM</li>
          <li>OpenShift client tools (oc) that match the release</li>
          <li>A document to help you run through some of the basic steps to exercise this image</li>
        </ul>
        <p>&nbsp;</p>
        <p>
          This image is based off of OpenShift Origin and is a fully functioning OpenShift
          instance with an integrated Docker registry. The intent of this project is to allow
          Web developers and other interested parties to run OpenShift V3 on their own computer.
          Given the way it is configured, the VM will appear to your local machine as if it was
          running somewhere off the machine.
        </p>
        <p>&nbsp;</p>
        <p>
          The OpenShift Master, Node, Docker Registry, and other pieces are running in one VM. Given
          it's focus on application developers, it should NOT be used in production. While the Vagrantfile
          only specifies 2 gigs of RAM, you can edit the file to increase this setting if you want to run
          more containers concurrently in your instance.
        </p>
        <p>&nbsp;</p>
        <p>
          <strong>WARNING:</strong> We wanted to allow developers to use any Docker image they
          want, which required us turning off some security in OpenShift. By default, OpenShift
          will not allow a container to run as root or even a non-random container assigned userid.
          Most Docker images in the Dockerhub do not follow this best practice and instead run
          as root. As a double negative, a large majority of Dockerhub images are not patched
          for well known vulnerabilities. Therefore, please use images from Dockerhub with
          caution. We think some of the risk is mitigated because you are running OpenShift in
          a VM, but still - be careful which Docker images you run.
        </p>
        <p>&nbsp;</p>
        <p>
          <strong>NOTE:</strong> As this is based off the Origin project and not the commercial
          OpenShift Enterprise product, support is limited to community effort.
        </p>
        <p>&nbsp;</p>
        <p><strong>Install instructions</strong><br />
          After you have installed Vagrant and VirtualBox, please: <br />
          <strong>Easiest instructions</strong>
          <ol>
            <li>Go to an empty directory</li>
            <li>In the directory, at the command line, run <pre>$ vagrant init thesteve0/openshift-origin</pre></li>
            <li><em>Optional</em> You can edit the generated Vagrantfile to give your machine more resources</li>
            <li>Then run <pre>$ vagrant up</pre></li>
          </ol>
          <strong>A bit more involved</strong>
          <ol>
            <li>Download the Vagrantfile linked below and place it where you want Vagrant to "run"</li>
            <li>In the directory, at the command line, run <pre>$ vagrant up</pre></li>
          </ol>
          The Vagrantfile has the address in <a href="https://atlas.hashicorp.com/thesteve0/boxes/openshift-origin">Atlas 
          for the Origin box</a> and will download the box for you. 

        </p>
        <p>&nbsp;</p>
        <p>
          <strong> Updating previous versions</strong> <br />
          <ol>
            <li>Go to the directory where you previously ran <pre>$ vagrant up</pre></li>
            <li>Run the following command <pre>$ vagrant box update --box thesteve0/openshift-origin</pre></li>
            <li>You need to destroy and create the environment again</li>
            <li><pre>$ vagrant destroy --force </pre></li>
            <li><pre>$ vagrant up --provider=virtualbox </pre></li>
          </ol>
        <p>&nbsp;</p>
        <p>
          <strong> Uninstall</strong> <br />
          To remove a previous installation please do the following commands:
          <ol>
            <li>Change to the directory with your Vagrantfile</li>
            <li>$ vagrant halt</li>
            <li>$ vagrant destroy --force</li>
            <li>$ vagrant box remove --force openshift3 {or openshift3-bootstrap}</li>
            <li>Fire up VirtualBox to make sure the VM is really deleted. If not then delete it and all the files</li>
            <li>Follow the normal installation instructions</li>
          </ol>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="opacy_bg_01 paddings container info_title" id="downloads">
  <div class="info_vertical">
    <div class="row wow text-center fadeInUp">
      <h1>
        Downloads
      </h1>
    </div>
  </div>
  <div class="container info_title" id="downloads">
    <div class="col-md-12 text-left">
      <p><strong>Required files:</strong></p>
      <ul>
        <li><a href="https://www.vagrantup.com/downloads.html">Vagrant</a> (may also be offered in your distro) - We have tested with 1.7.2, 1.7.4</li>
        <li><a href="https://www.virtualbox.org/wiki/Downloads">VirtualBox</a> (again, may be offered in your distro) - We have tested with 4.3.30, 5.0.4. We would love to get feedback on newer versions.</li>
      </ul>
      <p>If you want to download the Vagrantfile separately here is a link for it.</p>
        <li><a href="./Vagrantfile" class="analytics">Vagrantfile</a> right click and save but be sure to remove the .txt ending. You will do 'vagrant up' in the same directory as this file</li>
      </ul>
      <p>&nbsp</p>
      <p><strong>Client tools:</strong></p>
      <ul>
        <li><a href="https://github.com/openshift/origin/releases/download/v1.1.4/openshift-origin-client-tools-v1.1.4-3941102-windows.zip" class="analytics">Windows 64-bit OpenShift Client tools</a></li>
        <li><a href="https://github.com/openshift/origin/releases/download/v1.1.4/openshift-origin-client-tools-v1.1.4-3941102-mac.zip" class="analytics">Mac 64-bit OpenShift Client tools</a></li>
        <li><a href="https://github.com/openshift/origin/releases/download/v1.1.4/openshift-origin-client-tools-v1.1.4-3941102-linux-64bit.tar.gz" class="analytics">Linux 64-bit OpenShift Client tools</a></li>
      </ul>
      <p><strong>Docs:</strong></p>
      <ul>
        <li><a href="https://drive.google.com/uc?export=download&id=0Bzan56EkcOsxNFZkQ3VLaW9kams" class="analytics">All-in-One VM setup notes - VERY out of date but somewhat applicable (no need for browser plugins></a></li>
      </ul>
    </div>
  </div>
</section>
<section class="container info_title" id="feedback">
  <div class="vertical_line">
    <div class="circle_bottom"></div>
  </div>
  <i class="fa fa-check-circle-o right"></i>
  <div class="row wow info_vertical animated fadeInUp">
    <h1>Feedback</h1>
  </div>
  <div class="row wow info_vertical animated fadeInDown">
    <div class="col-md-12 text-left">
      <p>Please send any and all feedback to <a href="mailto:thesteve0@redhat.com">TheSteve0</a>, but please note this is not an "officially supported" product.</p>
      <p>&nbsp;</p>
      <p>You can also come chat about it in <a href="irc://irc.freenode.org/#openshift">IRC at FreeNode, #openshift channel</a> with thesteve0</p>
    </div>
  </div>
</section>
