---
title: OKD Screenshots
description:  Impressions of OKD 4
---

<% content_for :header do %>
<h1 class="animated fadeInDown delay">
  OKD Screenshots
</h1>
<p class="animated fadeInUp delay">
  Impressions of OKD 4.
</p>
<% end %>

<div class="crumbs border_bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>
            <a href="/index.html">Home</a>
          </li>
          <li>/</li>
          <li>
            <a href="/screenshots.html">OKD Screenshots</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<section id="users">
  <div class="opacy_bg_01 paddings">
    <div class="info_title wow" id="tech" style="position:relative;">
      <div class="panda" style="background: url(img/okd-panda-flat_nerd_with_number.svg) no-repeat center center;">
      </div>
      <div class="info_vertical animated container">
        <div class="row">
          <h1>
            Impressions of <span>OKD 4</span>
          </h1>
          <p><span>OKD 4</span> has many features that will make developers and ops engineers more productive. And this is what it looks like: </p>
        </div>
      </div>
      <div class="container wow">
        <div class="row">
          <div class="col-md-12">
            <%= partial "image_carousel", :object => data.screenshots.screenshots %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
