---
title: OKD 3.11
description:  
---

<% content_for :header do %>
<h1 class="animated fadeInDown delay">
  OKD 3.11
</h1>
<p class="animated fadeInUp delay">
Please note that OKD 3 will be considered deprecated starting June 2021
</p>
<% end %>

<div class="crumbs border_bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>
            <a href="/index.html">Home</a>
          </li>
          <li>/</li>
          <li>
            <a href="/okd3.html">OKD 3.11</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="info_title wow fadeInDown" id="try">
  <i class="fa fa-download left"></i>
  <div class="vertical_line">
    <div class="circle_bottom"></div>
  </div>
  <div class="info_vertical animated">
    <h1>
      Looking for <span>OKD 3.11</span>&nbsp;?
    </h1>
  </div>
  <div class="">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-6 col-sm-8 col-centered">
          <div class="row text-center">
            <div class="col-md-12">
              <pre class="code">$ <%= link_to "oc", "/download.html#oc-platforms" %> cluster up</pre>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-sm-offset-2 col-sm-4">
              <a id="get-started" class="code-button" href="https://github.com/openshift/origin/blob/v4.0.0-alpha.0/docs/cluster_up_down.md" target="_blank">Get&nbsp;Started</a>
            </div>
            <div class="col-sm-4">
              <%= link_to "Download&nbsp;oc", "/download.html#oc-platforms", class: "code-button" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="info_vertical animated">
    <h3>
      OR
    </h3>
  </div>
  <div class="padding_bottom">
    <div class="container wow fadeInUp">
      <div class="row text-center">
        <div class="col-sm-10 col-centered">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <h2>Run OKD 3.11 in a Container</h2>
              <p>
                Want to get started quickly and easily? Just <a href="https://docs.okd.io/3.11/getting_started/administrators.html#running-in-a-docker-container">run OKD in a container</a> by itself.
              </p>
            </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <h2>Run the All-In-One VM with&nbsp;Minishift</h2>
              <p>
                Try out a fully functioning OKD 3.11 instance with an integrated container registry, running locally on your machine with <%= link_to "Minishift", "/minishift/index.html" %>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>