---
title: OKD Recipes
description:  A Community Curated Cookbook of OKD Recipes.
---

<% content_for :header do %>
<h1 class="animated fadeInDown delay">
  OKD Recipes
</h1>
<p class="animated fadeInUp delay">
  A Community Curated Cookbook of OKD Recipes.
</p>
<% end %>

<div class="crumbs border_bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>
            <a href="/index.html">Home</a>
          </li>
          <li>/</li>
          <li>
            <a href="/recipes.html">OKD Recipes</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row info_title wow animated fadeInUp">
  <div class="vertical_line">
    <div class="circle_bottom"></div>
  </div>
  <div class="info_vertical">
    <h1>
      OKD
      <span>Recipes</span>
    </h1>
  </div>
</div>

<!-- Search Recipes -->
<section class="content_info">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="search">
          <!--<input id="user-search" placeholder="Search Recipes">-->
          <input type="text" id="quicksearch" placeholder="Search Recipes" />
        </div>
      </div>
    </div>
    <br>

    <!-- List Users -->
    <div class="container-fluid">
      <div class="grid"><!-- add extra container element for Masonry -->
        <div class="grid-sizer col-lg-4 col-xs-6"></div><!-- add sizing element for columnWidth -->
          <%= partial "recipes_list", :object => data.recipes.recipes %>
      </div>
    </div>
  </div>
  <br><br>
</section>
