---
title: OpenShift Accelerators - Resources for Community Organizers, Evangelists, and Innovators
---

<% content_for :header do %>
<h1 class="animated fadeInDown delay">
  OpenShift Accelerators
</h1>
<p class="animated fadeInUp delay">Resources for open source innovators, evangelists, and community organizers</p>
<% end %>

<% content_for :navbar do %>
<div class="nav_logo animated fadeIn">
  <div class="container">
    <div class="row">
      <nav class="col-md-12">
        <ul class="sf-menu" id="menu">
          <li>
            <a href="#about">ABOUT</a>
          </li>
          <li>
            <a href="#resources">RESOURCES</a>
          </li>
          <li>
            <a href="#apply">SIGN UP</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<% end %>

<section class="container" id="about">
  <div class="info_title info_vertical">
    <div class="row wow animated fadeInUp">
      <%= image_tag 'accelerators_logo_road.png', :alt => 'OpenShift Accelerators Logo' %>
    </div>
    <div class="row wow animated fadeInDown">
      <h1>
        Accelerate Your Community
      </h1>
    </div>
  </div>
  <div class="row wow info_vertical animated fadeInDown">
    <div class="col-md-6 text-left">
      <p>The Accelerators program is designed to enable, recognize, and reward successful users and promotors of the OpenShift platform.</p>
      <br>
      <p>
        Group members get:
        <ul>
          <li>Online access to monthly Accelerator team meetings</li>
          <li>Support and advice from other Accelerators through our mailing list</li>
          <li>Preview access to upcoming projects and initiatives</li>
          <li>Tools, tips, examples, and expertise - helping you to share your OpenShift story in a compelling way</li>
        </ul>
      </p>
    </div>
    <div class="col-md-6 text-left">
      <p>
        Accelerate the adoption of open source platforms in your community by becoming an active member in ours:
        <ul>
          <li>Share your slides, events, and CFPs with our mailing list and social media channels</li>
          <li>Get increased exposure for your blog posts, videos, and screencasts</li>
          <li>Discover opportunites to lead a talk or workshop, or to help organize local events</li>
          <li>Help write, review, or translate OpenShift documentation</li>
          <li>Adapt popular projects to run on an open cloud platform</li>
          <li>Share your applications, demos, and service integrations</li>
        </ul>
      </p>
    </div>
  </div>
</section>
<section class="opacy_bg_01 paddings container info_title" id="resources">
  <div class="info_vertical">
    <i class="fa fa-bullhorn right"></i>
    <div class="row wow text-center fadeInUp">
      <h1>
        Accelerator Resources
      </h1>
    </div>
    <div class="row wow info_title animated fadeInUp info_vertical">
      <div class="col-md-4 col-lg-4 text-left">
        <h2 class="text-center">
          Docs &amp; Examples
        </h2>
        <h4>
          <i class="fa fa-book"></i>
          Documentation
        </h4>
        <ul class="list-group">
          <li class="list-group-item">
            <a href="https://github.com/openshift/devcenter/" title="OpenShift Developer Center">
              <i class="fa fa-book"></i>
              OpenShift Developer Center
            </a>
          </li>
          <li class="list-group-item">
            <a href="https://github.com/openshift/openshift-docs" title="OpenShift PlatformV3 Documentation">
              <i class="fa fa-book"></i>
              OpenShiftV3 Docs
            </a>
          </li>
        </ul>
        <h4>
          <i class="fa fa-code"></i>
          Applications
        </h4>
        <ul class="list-group">
          <li class="list-group-item">
            <a href="https://hub.openshift.com" title="The OpenShift Hub">
              <i class="fa fa-star"></i>
              OpenShift Application Hub
            </a>
          </li>
          <li class="list-group-item">
            <a href="http://origin.ly" title="The Origin.ly Project Index">
              <i class="fa fa-rocket"></i>
              Orign.ly Project Index
            </a>
          </li>
          <li class="list-group-item">
            <a href="https://launch-shifter.rhcloud.com/" title="Launch-Service embeddable application launchers">
              <i class="fa fa-external-link-square"></i>
              Launch-Service
            </a>
          </li>
          <li class="list-group-item">
            <a href="https://github.com/openshift/origin/releases" title="OpenShift PlatformV3 Beta releases on GitHub">
              <i class="fa fa-cloud-download"></i>
              OSV3 Beta Releases
            </a>
          </li>
          <li class="list-group-item">
            <a href="https://github.com/openshift/origin/tree/master/examples#openshift-examples" title="OpenShiftV3 example projects, templates">
              <i class="fa fa-gift"></i>
              OSV3 Template Examples
            </a>
          </li>
        </ul>
        <h4>
          <i class="fa fa-newspaper-o"></i>
          Blogs
        </h4>
        <ul class="list-group">
          <li class="list-group-item">
            <a href="https://blog.openshift.com/" title="OpenShift Online Blog">
              <i class="fa fa-bookmark"></i>
              OpenShift Online Blog
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-lg-4 text-left">
        <h2 class="text-center">Training Materials</h2>
        <h4>
          <i class="fa fa-film"></i>
          Presentations
        </h4>
        <ul class="list-group">
          <li class="list-group-item">
            <a href="https://www.youtube.com/results?search_query=openshift" title="OpenShift on Youtube">
              <i class="fa fa-youtube-play"></i>
              OpenShift on YouTube
            </a>
          </li>
          <li class="list-group-item">
            <a href="https://commons.openshift.org/briefings.html" title="OpenShift Commons Briefings">
              <i class="fa fa-youtube-play"></i>
              OpenShift Commons Briefings
            </a>
          </li>
          <li class="list-group-item">
            <a href="https://www.youtube.com/playlist?list=PLWTAQQMxSZN3vnlB3pmoFX3EvEDVZudeR" title="OpenShift Origin Community Hangouts on YouTube">
              <i class="fa fa-youtube-play"></i>
              OpenShift Origin Community Hangouts
            </a>
          </li>
        </ul>
        <h4>
          <i class="fa fa-desktop"></i>
          Slides
        </h4>
        <ul class="list-group">
          <li class="list-group-item">
            <a href="https://github.com/openshift-evangelists/accelerators" title="Slides from the OpenShift Accelerators team on GitHub">
              <i class="fa fa-github-square"></i>
              Accelerator Team Slides
            </a>
          </li>
          <li class="list-group-item">
            <a href="http://slideshare.net/openshift" title="OpenShift slides on SlideShare">
              <i class="fa fa-slideshare"></i>
              OpenShift on SlideShare
            </a>
          </li>
        </ul>
        <h4>
          <i class="fa fa-mortar-board"></i>
          Certification Exams
        </h4>
        <ul class="list-group">
          <li class="list-group-item">
            <a href="http://ca.redhat.com/training/courses/cl280r/" title="Red Hat Certification Program for OpenShift Administrators">
              <i class="fa fa-trophy"></i>
              Red Hat Certification Program for OpenShift Admins
            </a>
          </li>
          <li class="list-group-item">
            <a href="http://ca.redhat.com/training/courses/ex280/" title="Red Hat Certificate of Expertise in Platform-as-a-Service">
              <i class="fa fa-trophy"></i>
              Red Hat Certificate of Expertise in PaaS
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-lg-4 text-left">
        <h2 class="text-center">
          Community
        </h2>
        <h4>
          <i class="fa fa-globe"></i>
          Events &amp; Conferences
        </h4>
        <ul class="list-group">
          <li class="list-group-item">
            <a href="https://blog.openshift.com/category/events/" title="OpenShift Online Events Listing">
              <i class="fa fa-calendar"></i>
              OpenShift Calendar
            </a>
          </li>
          <li class="list-group-item">
            <a href="http://openshift.meetup.com/" title="Find an OpenShift-related Meetup group near you">
              <i class="fa fa-calendar-o"></i>
              OpenShift Meetups
            </a>
          </li>
        </ul>
        <h4>
          <i class="fa fa-users"></i>
          Opportunities to Share
        </h4>
        <ul class="list-group">
          <li class="list-group-item">
            <a href="#apply" title="Access to the Accelerators mailing list">
              <i class="fa fa-envelope"></i>
              Accelerators Mailing List
            </a>
          </li>
          <li class="list-group-item">
            <a href="#apply" title="Get notified about opportunities to speak, or to volunteer at conferences or events">
              <i class="fa fa-comments-o"></i>
              Upcoming CFPs
            </a>
          </li>
          <li class="list-group-item">
            <a href="http://openshift.meetup.com/" title="Pitch an OpenShift talk to your local Meetup">
              <i class="fa fa-comments-o"></i>
              OpenShift Meetups
            </a>
          </li>
          <li class="list-group-item">
            <a href="https://hub.openshift.com/quickstarts/new" title="Share your Open Source solutions on the OpenShift Hub">
              <i class="fa fa-external-link"></i>
              OpenShift Hub
            </a>
          </li>
          <li class="list-group-item">
            <a href="https://blog.openshift.com/" title="Write a guest post for the OpenShift blog">
              <i class="fa fa-pencil-square-o"></i>
              OpenShift Online Blog
            </a>
          </li>
          <li class="list-group-item">
            <a href="http://stackoverflow.com/questions/tagged/openshift" title="OpenShift Questions on StackOverflow">
              <i class="fa fa-stack-overflow"></i>
              Questions on StackOverflow
            </a>
          </li>
          <li class="list-group-item">
            <a href="https://plus.google.com/communities/114361859072744017486" title="Join the Origin community on G+">
              <i class="fa fa-google-plus-square"></i>
              OpenShift Origin on G+
            </a>
          </li>
          <li class="list-group-item">
            <a href="https://twitter.com/openshift" title="Tweet to @OpenShift">
              <i class="fa fa-twitter-square"></i>
              Tell us what you're up to
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="container info_title" id="apply">
  <div class="vertical_line">
    <div class="circle_bottom"></div>
  </div>
  <i class="fa fa-check-circle-o right"></i>
  <div class="row wow info_vertical animated fadeInUp">
    <h1>Apply to Join!</h1>
  </div>
  <div class="row wow info_vertical animated fadeInUp padding_bottom">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left">
      <h3>Application Process</h3>
      <p>
        Complete each of the onboading tasks to gain access to our private mailing list, monthly meetings, and our
        <a href="https://github.com/orgs/openshift-evangelists/teams/accelerators" title="OpenShift Accelerators Team on GitHub"></a>
        OpenShift Accelerators Team on GitHub.
      </p>
      <br>
      <p>
        Active team members may be eligible for material support (event sponsorship, training promotions, free stickers, etc)
      </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left">
      <h3>
        How to get started
      </h3>
      <ol>
        <li>
          Watch the
          <a href="https://github.com/openshift/origin-server" title="OpenShift project on GitHub">OpenShift project on GitHub</a>
        </li>
        <li>
          Join the
          <a href="https://plus.google.com/u/0/communities/114361859072744017486" title="OpenShift G+ community as a member">OpenShift Community on G+</a>
        </li>
        <li>
          Take some time and explore
          <a href="https://www.openshift.com/walkthrough/how-it-works" title="OpenShift">OpenShift</a>
        </li>
      </ol>
      <p>
        Then, apply to become a member of the OpenShift Accelerators program:
      </p>
      <br>
      <p class="text-center">
        <a href="https://docs.google.com/forms/d/1q4IBEXvg8ZharjovlsY7jjjhSjDkq6UzorYV23_vpSg/viewform" title="Join the OpenShift Accelerators">
          <button class="btn btn-lg btn-primary">
            Join the Accelerators
          </button>
        </a>
      </p>
    </div>
  </div>
</section>
