<div id="screenshot-carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
  <!-- carousel slides -->

  <% image_carousel.shuffle.each_slice(1).with_index do |slice, index| %>
    <% if index == 0 %>
    <div class="item active">
    <% else %>
    <div class="item">
    <% end %>
      <% slice.each do |user| %>
      <div class="screenshot-logo">
        <% if user.logo.presence && user.logo.length > 0 %>
        <%= image_tag "/img/screenshots/#{user.logo}", :alt => user.name %>
        <% else %>
        <%= image_tag '/img/users/OKDPandaInCannon.png', :alt => user.name %>
        <% end %>
      </div>
      <% end %>
    </div>
  <% end %>
  </div>

  <!-- carousel controls -->
  <a class="left carousel-control" href="#screenshot-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#screenshot-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
