---
title: Download CodeReady Containers for OKD
description: Download CodeReady Containers for OKD.
---

<% content_for :header do %>
<h1 class="animated fadeInDown delay">
  Download CodeReady Containers for OKD - The Community Distribution of Kubernetes that powers Red Hat OpenShift
</h1>
<p class="animated fadeInUp delay">Download the latest CodeReady Containers for OKD</p>
<% end %>

<% content_for :navbar do %>
<div class="nav_logo animated fadeIn">
</div>
<% end %>

<section class="paddings" id="downloads">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-centered">
        <div class="row animated fadeInDown padding_bottom" id="server-platforms">
          <h2>Run a developer instance of OKD4 on your local workstation with CodeReady Containers built for OKD</h2>
          <h2>No Pull Secret Required!</h2>
          <p></p>
          <div class="row instructions"><large>
            <a href="https://dl.fedoraproject.org/pub/alt/okd-crc/release/macos-amd64/" target="_blank">CodeReady Containers for OKD4 - Mac OS image</a>
          </large></div>
          <div class="row instructions"><large>
            <a href="https://dl.fedoraproject.org/pub/alt/okd-crc/release/linux-amd64/" target="_blank">CodeReady Containers for OKD4 - Linux image</a>
          </large></div>
          <div class="row instructions"><large>
            <a href="https://dl.fedoraproject.org/pub/alt/okd-crc/release/windows-amd64/" target="_blank">CodeReady Containers for OKD4 - Windows image</a>
          </large></div>
          <div class="row instructions"><large>
            <a href="https://code-ready.github.io/crc/" target="_blank">Getting Started Guide</a>
          </large></div>
        </div>
        <div class="row" id="more-details">
          <div class="info-verticle">
            To see more details, including source code, check out our <%= link_to "<i class='fa fa-github'></i> Releases page", "https://github.com/openshift/okd/releases/latest" %>!
          </div>
          <div class="info-verticle">
            If you encounter any problems, please open an issue at: <%= link_to "<i class='fa fa-github'></i> OKD GitHub Community", "https://github.com/openshift/okd" %>!
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

