---
title: Download OKD
description: Download the OKD server binaries and command line client tools.
---

<% content_for :header do %>
<h1 class="animated fadeInDown delay">
  Download OKD - The Community Distribution of Kubernetes that powers Red Hat OpenShift
</h1>
<p class="animated fadeInUp delay">Download the latest OKD Server and Client Tools Binaries</p>
<% end %>

<% content_for :navbar do %>
<div class="nav_logo animated fadeIn">
</div>
<% end %>

<% content_for :javascript do %>
<%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/showdown/1.6.3/showdown.min.js" %>
<%= javascript_include_tag "download.js" %>
<% end %>

<section class="paddings" id="downloads">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-centered">
        <div class="row animated fadeInDown padding_bottom" id="server-platforms">
          <h2>Try OKD4 GA</h2>
          <div class="row instructions"><small>
            <a href="https://github.com/openshift/okd/releases" target="_blank">Latest Release</a>
          </small></div>
        </div>
        <div class="row animated fadeInDown padding_bottom" id="server-platforms">
          <h2>Download OKD 3.11 Server</h2>
          <div class="row instructions"><small>
            <a href="https://docs.okd.io/3.11/getting_started/administrators.html#downloading-the-binary" target="_blank">Installation Instructions</a>
          </small></div>
          <div class="row">
            <div class="col-md-offset-4 col-md-4 linux-platform"><h4><i class="fa fa-linux left"></i> Linux</h4></div>
          </div>
        </div>
        <div class="row" id="more-details">
          <div class="info-verticle">
            To see more details, including source code, check out our <%= link_to "<i class='fa fa-github'></i> Releases page", "https://github.com/openshift/okd/releases/latest" %>!
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="opacy_bg_01 paddings" id="release-notes">
  <div class="container">
    <div class="row animated fadeInUp">
      <div class="col-md-10 col-centered release-content">
      </div>
    </div>
  </div>
</section>
