---
title: OpenShift Origin - Open Source Container Application Platform
---

<% content_for :header do %>
<h1 class="animated fadeInDown delay">
  The Open Source Container Application Platform
</h1>
<p class="animated fadeInUp delay">Origin is the upstream community project that powers <a href="https://www.openshift.com" class="headerlink">OpenShift</a>. Built around a core of Docker container packaging and Kubernetes container cluster management, Origin is also augmented by application lifecycle management functionality and DevOps tooling. Origin provides a complete open source container application platform.</p>
<% end %>

<section class="timeline-responsive">
  <section class="contributions"></section>
  <div class="opacy_bg_03">
    <div class="container">
      <div class="paddings">
        <ul id="timeline">
          <li class="entry">
            <label>
              <span>
                OpenShift launches in developer preview at openshift.com
              </span>
            </label>
            <span class="date">May 2011</span>
            <span class="circle"></span>
          </li>
          <li class="entry">
            <label>
              <span>
                OpenShift Origin is released as the open source upstream project for OpenShift
              </span>
            </label>
            <span class="date">Apr 2012</span>
            <span class="circle"></span>
          </li>
          <li class="entry">
            <label>
              <span>
                Work begins on Docker and Kubernetes-based core platform (Origin 1.0 and OpenShift 3)
              </span>
            </label>
            <span class="date">June 2013</span>
            <span class="circle"></span>
          </li>
          <li class="entry">
            <label>
              <span>
                OpenShift Origin 1.0 Release (OpenShift 3)
              </span>
            </label>
            <span class="date">June 2015</span>
            <span class="circle"></span>
          </li>
          <li class="entry">
            <label>
              <span>
                OpenShift Origin 1.1 Release (OpenShift 3.1)
              </span>
            </label>
            <span class="date">Nov 2015</span>
            <span class="circle"></span>
          </li>
          <li class="entry spotlight">
            <label>
              <span>
                <a href="https://blog.openshift.com/openshift-3-2-whats-new/">OpenShift Origin 1.2 Release (OpenShift 3.2)</a>
              </span>
            </label>
            <span class="date">May 2016</span>
            <span class="circle circle-big"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div class="info_title wow fadeInDown" id="try">
  <i class="fa fa-download left"></i>
  <div class="vertical_line">
    <div class="circle_bottom"></div>
  </div>
  <div class="info_vertical animated">
    <h1>
      Try Out The Latest
      <span>Origin</span> Release
    </h1>
  </div>
  <div class="padding_bottom">
    <div class="container wow fadeInUp">
      <div class="row text-center">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <h2>Run Origin in a Container</h2>
          <p>
            Want to get started quickly and easily? Just <a href="https://docs.openshift.org/latest/getting_started/administrators.html#running-in-a-docker-container">run Origin in a Docker container</a> by itself.
          </p>
        </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <h2>Run the All-In-One VM</h2>
          <p>
            Try out a fully functioning Origin instance with an integrated Docker registry, running locally on your machine with the <%= link_to "All-in-One Origin Virtual Machine", "/vm/index.html" %>.
          </p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <h2>Download the Binary</h2>
          <p>
            Red Hat periodically publishes binaries to GitHub, which you can download on the OpenShift Origin <a href="https://github.com/openshift/origin/releases">Releases</a> page.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="content_info latest-news" id="v3">
  <div class="opacy_bg_01 paddings">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="info_vertical padding_bottom">
            <h1>
              What is
              <span>OpenShift Origin</span>?
            </h1>
            <p>
              OpenShift Origin is the open source upstream project that powers OpenShift, Red Hat's container application platform.
            </p>
          </div>
        </div>
        <div class="col-md-12">
          <!-- Place this tag where you want the button to render. -->
          <a class="github-button" href="https://github.com/openshift/origin" data-icon="octicon-star" data-style="mega" data-count-href="/openshift/origin/stargazers" data-count-api="/repos/openshift/origin#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star openshift/origin on GitHub">Star</a>
          <!-- Place this tag right after the last button or just before your close body tag. -->
          <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
        </div>
        <div class="col-md-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/D_Lj0rObunI" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content_info">
  <div class="info_title wow fadeInUp" id="tech">
    <i class="fa fa-cubes left"></i>
    <div class="vertical_line">
      <div class="circle_bottom"></div>
    </div>
    <div class="info_vertical animated">
      <h1>
        Standardization through
        <span>Containerization</span>
      </h1>
      <p>Standards are powerful forces in the software industry. They can drive technology forward by bringing together the combined efforts of multiple developers, different communities, and even competing vendors.</p>
    </div>
    <div class="paddings">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-sm-4 col-md-4">
            <div class="technology-section">
              <div class="head-tech">
                <%= image_tag 'logo-docker-h.svg', {:alt => 'Docker logo', :class => 'logo_tech'} %>
              </div>
              <div class="caption-tech">
                <p>Standardized Linux container packaging for applications and their dependencies.</p>
                <a href="https://www.docker.com/whatisdocker/">Learn more</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-md-4">
            <div class="technology-section">
              <div class="head-tech">
                <%= image_tag 'logo-kubernetes-h.svg', {:alt => 'Kubernetes logo', :class => 'logo_tech'} %>
              </div>
              <div class="caption-tech">
                <p>Open source container orchestration and cluster management at scale.</p>
                <a href="http://kubernetes.io/">Learn more</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-md-4">
            <div class="technology-section">
              <div class="head-tech">
                <%= image_tag 'logo-atomic-h.svg', {:alt => 'Project Atomic logo', :class => 'logo_tech'} %>
              </div>
              <div class="caption-tech">
                <p>A lightweight operating system designed to run applications in Docker containers.</p>
                <a href="http://www.projectatomic.io/docs/">Learn more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="content_info contributions" id="contribute">
    <div class="opacy_bg_01 paddings">
      <div class="info_vertical">
        <h1>
          Contribute to <span>OpenShift Origin</span>
        </h1>
        <p>We know you've got great ideas for improving OpenShift Origin and its network of open source projects. So roll up your sleeves and come join us in the community!</p>
        </div>
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h2>View the Roadmap</h2>
          <p>
            The OpenShift project
            <a href="https://trello.com/b/nlLwlKoz">roadmap lives on Trello</a> and you can dig into more granular topics from our <a href="https://trello.com/atomicopenshift">Trello organization</a>.</p>
          <p>
            All contributions are welcome - OpenShift uses the Apache 2 license and does not require any contributor agreement to submit patches. Please open issues for any bugs or problems you encounter, ask questions on the OpenShift IRC channel (#openshift-dev
            on freenode), or get involved in the
            <a href="https://github.com/GoogleCloudPlatform/kubernetes">Kubernetes</a> project at the container runtime layer.
          </p>
          <h2>Extend OpenShift Origin</h2>
          <p>You can add new runtimes and frameworks to OpenShift Origin with community images and templates. Learn how to create and use custom <a href="https://docs.openshift.org/latest/creating_images/guidelines.html">images</a> and <a href="https://docs.openshift.org/latest/dev_guide/templates.html#writing-templates">templates</a> with OpenShift Origin.</p>
          <h2>Join OpenShift Commons</h2>
          <p><a href="https://commons.openshift.org">OpenShift Commons</a> is the place where the community goes to collaborate and work together on OpenShift. OpenShift Commons is open to all community participants: users, operators, enterprises, startups, non-profits, educational institutions, partners, and service providers.</p>
          <ul>
            <li>
              <a href="https://commons.openshift.org/index.html#join">Join Commons</a>
            </li>
            <li>
              View upcoming and recorded <a href="https://commons.openshift.org/briefings.html">Events &amp; Briefings</a>
            </li>
            <li>
              View a list of Commons <a href="https://commons.openshift.org/index.html#colleagues">Participants</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h2>Contribute to the Source</h2>
          <ul>
            <li>
              Get started with the
              <a href="https://github.com/openshift/origin/blob/master/CONTRIBUTING.adoc">Contributors Guide</a>
            </li>
            <li>
              Fork
              <a href="https://github.com/openshift/origin">the repository</a>
            </li>
            <li>
              Read the
              <a href="https://docs.openshift.org/latest/welcome/index.html">documentation</a>
            </li>
            <li>
              Check out the other repositories we're working on:
              <ul>
                <li>
                  <a href="https://github.com/kubernetes/kubernetes">Kubernetes</a>
                </li>
                <li>
                  <a href="https://github.com/docker/docker">Docker</a>
                </li>
                <li>
                  <a href="https://github.com/projectatomic/">Project Atomic</a>
                </li>
              </ul>
            </li>
          </ul>
          <h2>File a Bug</h2>
          <p>
            Found a bug? Let us know! OpenShift uses a
            <a href="https://bugzilla.redhat.com/describecomponents.cgi?product=OpenShift%20Origin">public Bugzilla instance</a>.
          </p>
          <h2>Talk to Us</h2>
          <ul>
            <li>
              Join the <a href="https://plus.google.com/communities/114361859072744017486">OpenShift Origin Developers Google Group</a>
            </li>
            <li>
              Follow the <a href="https://lists.openshift.redhat.com/openshiftmm/listinfo">public user or development mailing lists</a>
            </li>
            <li>
              Chat with us on the <a href="https://webchat.freenode.net/?randomnick=1&amp;channels=openshift-dev&amp;uio=d4">#openshift-dev channel on Freenode</a>
            </li>
            <li>
              Ask or answer questions on <a href="http://stackoverflow.com/questions/tagged/openshift-origin">StackOverflow</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
