---
title: Installation
---

<% content_for :header do %>
    <h1 class="animated fadeInDown delay">
      OKD Installation
    </h1>
    <p class="animated fadeInUp delay">
      Instructions, Community Guides, ...
    </p>
<% end %>

<div class="crumbs border_bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>
            <a href="/index.html">Home</a>
          </li>
          <li>/</li>
          <li>
            <a href="/installation.html">OKD Installation</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row info_title wow">
  <div class="vertical_line">
    <div class="circle_bottom"></div>
  </div>
  <div class="info_vertical">
    <h1> <span>Install Documentation</span> </h1>
  </div>
  <div class="container">
    <ul>
      <li><a href="https://docs.okd.io/latest/installing/index.html" target="_blank">Latest official installation documentation</a></li>
      <li><a href="https://github.com/openshift/okd/" target="_blank">OKD community repository (FAQ, Report Issues, etc.)</a></li>
    </ul>
  </div>
</div>
